@CHARSET "EUC-KR";

body {
	font-family: 돋움체;
}

div.body {
	margin-top: 50px;
	margin-bottom: 50px;
	scrollbar-face-color: #C9BFED;
	scrollbar-shadow-color: #C9BFED;
}

tr.header {
	background: #C9BFED;
}

tr.record {
	background: #EDEDED;
}

input.userId {
	height: 20px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
}
input.password {
	height: 20px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
}