@CHARSET "EUC-KR";
body {
	font-family: 돋움체;
}
div.body {
	margin-top: 50px;
	margin-bottom: 50px;
	scrollbar-face-color: #C9BFED;
	scrollbar-shadow-color: #C9BFED;
}
tr.header {
	background: #C9BFED;
}
tr.record {
	background: #EDEDED;
}